<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>렝가형아's 블로그 | 상세 페이지</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- icon fontawesome CSS -->
    <script src="https://kit.fontawesome.com/60f73b0952.js" crossorigin="anonymous"></script>

    <!-- ajax 사용 링크 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Google font 설정 링크 -->
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle:wght@300;400&family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@100&family=Jua&display=swap"
        rel="stylesheet">

    <!-- JS *정확한 용도 검색 필요-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        html,
        body {
            margin: 0;

            padding: 0;

            min-width: 100%;
            width: 100%;
            max-width: 100%;

            min-height: 100%;
            height: 100%;
            max-height: 100%;

            background-color: #F1DCBD;
        }

        .icon-text {
            position: relative;
            right: 700px;
            bottom: 230px;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
        }

        .wrap label {
            font-weight: 300;
            color: #5A3B1A;
        }

        .posting-box {
            border: 1px solid #5A3B1A;
            border-radius: 10px;
            padding: 20px;
            max-width: 500px;
            margin: 60px auto 30px auto;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        h1 {
            margin-top: 16px;
        }

        .img-container {
            width: 100%;
        }

        .img-wrap {
            max-width: 500px;
            margin: 0 auto;
        }

        #img-preview {
            margin: 34px 0 50px 0;
            width: 100%;
            height: 330px;
        }

        .url {
            margin-bottom: 16px;
        }

        /*사용자 임의 변경 불가*/
        textarea {
            resize: none;
        }

        .btn-wrap {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            width: 150px;
            height: 40px;
            font-size: 15px;
            margin-left: 10px;
        }

        .footer {
            background-color: #F1DCBD;
            margin-top: 70px;
        }
    </style>

    <script>
        const pathName = window.location.pathname;
        const postId_arr = pathName.split("/")
        const postId = postId_arr[2]


        $(document).ready(function () {
            detail_page()
        })

        //받아온 name 값이랑 같은 데이터들을 현재 문서의 데이터에 넣어주고 url값을 append 해줌
        function detail_page() {
            $.ajax({
                type: "GET",
                url: `/api/post/${postId}`,  // -- 홈에서 클릭한 게시물의 이름을 받아오고 db에서 동일한 이름을 가진 데이터를 가져옴 --
                data: {},
                success: function (response) {
                    let rows = response['post']

                    document.getElementById("title").innerHTML = rows['title']
                    document.getElementById("name").innerHTML = rows['name']
                    document.getElementById("contents").innerHTML = rows['contents']
                    document.getElementById("date").innerHTML = rows['date']
                }
            })
        }

    </script>
</head>

<body>

    <!-- logo -->
    <div class="logo">
        <img src="../banner.png">
    </div>

    <!-- posting-box -->
    <section class="main-box">
        <div class="posting-box" id="posting-box">
            <div class="wrap">
                <div class="field">
                    <label class="label">제목</label>
                    <div class="control">
                        <textarea class="input" id="title" readonly></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">작성자</label>
                    <div class="control">
                        <textarea class="input" id="name" readonly></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">내용</label>
                    <div class="control">
                        <textarea class="input" id="contents" readonly></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">날짜</label>
                    <div class="control">
                        <textarea class="input" id="date" readonly></textarea>
                    </div>
                </div>


                <div class="btn-wrap">
                    <button type="button" class="btn btn-dark btn-lg" onclick="location.replace('/update/'+postId)">
                        수정하기
                    </button>
                    <button onclick="window.location.href='/'" type="button" class="btn btn-secondary btn-lg mr-3">
                        뒤로가기
                    </button>
                </div>
            </div>


        </div>
    </section>

    <!--footer-->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>RengaBro's Blog</strong> by <strong>DongYoung</strong> The source code is licensed
                DongYoung</a>.
                Please refer to github for details <a href="https://github.com/DongYoung-dev/6a-specialty">[github
                    link]</a>.
            </p>
        </div>
    </footer>
</body>

</html>