<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>렝가형아's 블로그 | 수정 페이지</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- icon fontawesome CSS -->
    <script src="https://kit.fontawesome.com/60f73b0952.js" crossorigin="anonymous"></script>

    <!-- ajax 사용 링크 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Google font 설정 링크 -->
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle:wght@300;400&family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@100&family=Jua&display=swap"
        rel="stylesheet">

    <!-- JS *정확한 용도 검색 필요-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        html,
        body {
            margin: 0;

            padding: 0;

            min-width: 100%;
            width: 100%;
            max-width: 100%;

            min-height: 100%;
            height: 100%;
            max-height: 100%;

            background-color: #F1DCBD;
        }

        .icon-text {
            position: relative;
            right: 700px;
            bottom: 230px;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
        }

        .wrap label {
            font-weight: 300;
            color: #5A3B1A;
        }

        .posting-box {
            border: 1px solid #5A3B1A;
            border-radius: 10px;
            padding: 20px;
            max-width: 500px;
            margin: 60px auto 30px auto;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        h1 {
            margin-top: 16px;
        }

        .img-container {
            width: 100%;
        }

        .img-wrap {
            max-width: 500px;
            margin: 0 auto;
        }

        #img-preview {
            margin: 34px 0 50px 0;
            width: 100%;
            height: 330px;
        }

        .url {
            margin-bottom: 16px;
        }

        /*사용자 임의 변경 불가*/
        textarea {
            resize: none;
        }

        .btn-wrap {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            width: 150px;
            height: 40px;
            font-size: 15px;
            margin-left: 10px;
        }

        .footer {
            background-color: #F1DCBD;
            margin-top: 70px;
        }
    </style>

    <script>
        const pathName = window.location.pathname;
        const postId_arr = pathName.split("/")
        const postId = postId_arr[2]


        $(document).ready(function () {
            detail_page()
        })


        function detail_page() {
            $.ajax({
                type: "GET",
                url: `/api/post/${postId}`,
                data: {},
                success: function (response) {
                    let rows = response['post']

                    document.getElementById("title").innerHTML = rows['title']
                    document.getElementById("name").innerHTML = rows['name']
                    document.getElementById("contents").innerHTML = rows['contents']
                    document.getElementById("date").innerHTML = rows['date']
                }
            })
        }

        // !-- '수정완료' 버튼을 누르면 실행 되는 함수 / 각 아이디 값의 맞는 정보 가져오기-- >
        // !--수정하기를 한번에 하는 방법을 찾다가 실패 후 본 데이터를 삭제하고 새로 업로드 되는 형태로 완성-- >
        function update_post() {
            let title = $('#title').val()
            let name = $('#name').val()
            let password = $('#password').val()
            let contents = $('#contents').val()
            let now = new Date()
            let date = now.toDateString()
            let time = now.getTime()

            let data = { title, name, password, contents, date, time }

            $.ajax({
                type: "PUT",
                url: `/api/post/${postId}`,
                data: data,
                dataType: 'json',
                success: function (response) {
                    if (response["result"] === 'success') {
                        alert("게시물 수정 완료!")
                        window.location.href = "/"
                    } else {
                        alert("비밀번호를 확인해주세요")
                    }
                }
            });
        }

        function delete_post() {
            let password = $('#password').val()

            $.ajax({
                type: 'DELETE',
                url: `/api/post/${postId}`,
                data: { password },
                success: function (response) {
                    if (response["result"] === 'success') {
                        alert("게시물 삭제 완료!")
                        window.location.href = "/"
                    } else {
                        alert("비밀번호를 확인해주세요")
                    }
                }
            });
        }


    </script>
</head>

<body>
    <!-- logo
    <div class="logo">
        <img src="../static/main_logo.png">
        <a href="/">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Home</span>
            </span>
        </a>
    </div> -->

    <!-- posting-box -->
    <section class="main-box">
        <div class="posting-box" id="posting-box">
            <div class="wrap">
                <div class="field">
                    <label class="label">제목</label>
                    <div class="control">
                        <textarea class="input" id="title"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">작성자</label>
                    <div class="control">
                        <textarea class="input" id="name"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">비밀번호</label>
                    <div class="control">
                        <textarea class="input" id="password"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">내용</label>
                    <div class="control">
                        <textarea class="input" id="contents"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">날짜</label>
                    <div class="control">
                        <textarea class="input" id="date" readonly></textarea>
                    </div>
                </div>

                <!-- '수정완료' 버튼 누르면 update()함수 실행,  '취소하기' 버튼 누르면 detail 페이지로 이동-->
                <div class="btn-wrap">
                    <button type="button" class="btn btn-dark btn-lg" onclick=update_post()>
                        수정완료
                    </button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick=delete_post()>
                        삭제하기
                    </button>
                    <button type="button" class="btn btn-light" id="posting-btn"
                        onclick="location.replace('/detail/'+postId)">
                        취소하기
                    </button>
                </div>
            </div>


        </div>
    </section>

    <!--footer-->
    <footer class="footer" style="padding: 50px; text-align: center; text-decoration: none">
        <div class="content has-text-centered">
            <p>
                <strong>DOG DOG</strong> by <strong>Hanghae 6a_team4.</strong> The source code is licensed
                6a_team_4</a>.
                Please refer to github for details <a href="https://github.com/U-Jinyeol/6a-team4">[github link]</a>.
            </p>
        </div>
    </footer>
</body>

</html>